@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color: #eaeaea;
  --primary-color: #295b5a;
  --secondary-color: #2a3a37;
  --accent-color: #dccdc6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--primary-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
}

section {
  padding: 0 20%;
  background-color: var(--background-color);
  text-align: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.section-title {
  width: 100%;
  text-align: start;
  font-size: 2.2rem;
  font-weight: 700;
}


/* NAVBAR / HEADER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20%;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s ease;
}

.navbar.scrolled {
  background-color: var(--accent-color);
  border-bottom: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: x-large;
  font-weight: 400;
}

.logo a:hover {
  color: var(--primary-color);
}

.menu-bar ul {
  list-style-type: none;
}

.menu-bar ul li {
  display: inline-block;
  padding-left: 1.5rem;
}

.menu-bar a:hover {
  color: var(--primary-color);
}

/* HOME SECTION */
.name {
  font-size: 6rem;
}

.address {
  font-size: 2.5rem;
  color: var(--secondary-color);
}

.info {
  font-size: 1.2rem;
  width: 50%;
  text-align: center;
}

.info span {
  color: var(--secondary-color);
}

.home-button-wrapper {
  display: flex;
  gap: 20px;
}

.home-btn {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  height: 45px;
  transition-duration: 0.3s;
}

.home-btn:hover {
  scale: 1.04;
}


/* ABOUT SECTION */
.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

.about-info {
  background-color: #7a8eff;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-info span,
p {
  text-align: start;
}

.about-info span {
  font-size: 1.5rem;
}

.about-info p {
  font-size: 1.2rem;
}

.about-skills {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.about-skills span {
  text-align: start;
  font-size: 1.5rem;
}

.technologies,
.soft-skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.soft-skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.soft-skills-card {
  background-color: red;
  padding: 10px;
  border-radius: 12px;
}

.tech-icons, .soft-skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.icon-wrapper span {
  font-size: 14px;
  text-align: center;
  color: var(--primary-color);
}

/* PROJECTS SECTION */
.projects-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-container {
  height: 500px;
  width: auto;
  background-color: aquamarine;
  border-radius: 12px;
  padding: 10px;
}

/* CONTACT SECTION */
.contacts {
  display: flex;
  align-items: center;
}


/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20%;
  background-color: var(--accent-color);
}

footer .socmed {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.socmed img {
  transition-duration: 0.3s;
}

.socmed img:hover {
  color: var(--secondary-color);
  fill: #295b5a;
  scale: 1.1;
}